@charset "utf-8";

*, :after, :before {
  box-sizing: border-box;
}

body, button, html, input, textarea {
  font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

body, table th {
  font-weight: 400;
}

body {
  overflow-x: hidden;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
}

div {
  display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

main, section, article {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#page-container {
  transform-origin: 50% 0;
  transition-property: opacity,transform;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

#main{
  height: 100vh;
}

.web-header {
  position: absolute;
  top: 0;
  transition: top .25s;
  z-index: 99;
  width: 100%;
}

@media screen and (min-width: 1097px){
  .web-header {
      position: absolute;
  }
}

.header-wrapper {
  position: relative;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 56px;
  text-align: center;
}

@media screen and (min-width: 1097px){
  .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
  }
}

.header-wrapper {
  position: relative;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 56px;
  text-align: center;
}

@media screen and (min-width: 1097px){
  .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  height: 100%;
}

@media screen and (min-width: 1097px){
  .header-container {
      padding: 0 80px;
  }
}
.parkingmate-logo{
  letter-spacing:-2px;
  font-size: 24px;
}

.wadiz-logo {
  display: inline-block;
  margin: 0;
  line-height: 22px;
  font-size: 32px;
}

@media screen and (min-width: 1097px){
  .wadiz-logo {
    position: static;
  }
}

.wadiz-logo>a {
  display: block;
  padding: 11px 0 13px;
}

@media screen and (min-width: 1097px){
  .wadiz-logo>a {
      padding: 14px 0 18px;
  }
}

.label {
  display: block;
  position: absolute;
  left: -9999px;
  visibility: none;
  height: 1px;
}

.nav-container{
  display: inline-block;
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  justify-content: space-between;
  z-index: 1;
  margin-left: 24px;
  padding: 0;
  width: auto;
  list-style: none;
  vertical-align: top;
}

.nav-item{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
}

.item-text {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  transition: .2s;
  cursor: pointer;
  padding: 14px 16px;
  text-align: center;
  color: #212529;
}

.header-utils{
  top: 0;
  right: 0;
  vertical-align: top;
  position: absolute;
}

@media screen and (min-width: 1097px){
  .header-utils {
      display: flex;
      position: relative;
      margin-left: auto;
  }
}

.search-container{
  display: inline-block;
  position: relative;
  padding: 8px 16px 8px 0;
  min-width: 185px;
  height: 56px;
}



.search-form{
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: relative;
  transition-property: border-color,background-color,color;
  transition-duration: .15s;
  outline: none;
  border: 1px solid #dde2e6;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 10px 0 0;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  color: #212529;
}

@media screen and (min-width: 1097px){
  .search-form {
      border: 1px solid #00c4c4;
  }
}

@media screen and (min-width: 1360px){
  .search-container {
    min-width: 360px;
  }
}

.search-left{
  position: relative;
  width: 16px;
}

.search-controll{
  display: flex;
  position: relative;
  flex: 1 1 0%;
  margin-right: 40px;
}

.search-controll input{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  flex-grow: 1;
  outline: none;
  background: none;
  padding-right: 32px;
  width: 100%;
  appearance: none;
  font-size: 14px;
}

.saerch-button{
  position: absolute;
  top: 52%;
  right: 16px;
  left: auto;
  transform: translateY(-52%);
  z-index: 1;
  pointer-events: visible;
}

.saerch-button svg {
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.header-user{
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.user-container{
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
}

.user-button{
  display: inline-block;
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
  line-height: 56px;
  color: #495057;
  font-size: 15px;
}

.header-funding-open{
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}

.funding-button{
  padding: 9px 15px;
  line-height: 1.45;
  font-size: 14px;
  border-color: #00c4c4;
  background-color: #00c4c4;
  color: #fff;
  margin-top: 8px;
  border-radius: 4px;
  vertical-align: top;
}

.funding-button span{
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

.button-children{
  vertical-align: top;
}
