@charset "utf-8";

*, :after, :before {
  box-sizing: border-box;
}

body, button, html, input, textarea {
  font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

body, button, input, select, textarea {
  font-family: inherit;
}

body, table th {
  font-weight: 400;
}

body {
  overflow-x: hidden;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
}

div {
  display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

main, section, article {
  display: block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe, img, video {
  vertical-align: top;
}

img, video {
  max-width: 100%;
  height: auto;
}

#parkingmate-page-container {
  transform-origin: 50% 0;
  transition-property: opacity,transform;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.parkingmate-web-header{
  position: relative;
  position: sticky;
  top: 0;
  transition: top .25s;
  z-index: 1201;
  width: 100%;
}

.parkingmate-web-header-mobile{
  display: block;
  position: relative;
}

.parkingmate-header-wrapper{
  position: relative;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 56px;
  text-align: center;
}

.parkingmate-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  height: 100%;
}

.parkingmate-footer-button{
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform .25s;
  z-index: 100;
  margin-left: 0;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.15);
  background-color: #fff;
  padding: 0 0 8px;
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
  width: 100%;
  list-style: none;
}

.parkingmate-footer-button-item{
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.parkingmate-footer-button-item-in{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: .2s;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 2px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  max-width: 72px;
  margin: 0 auto
}

.item-active{
  color: #212529;
  font-weight: 700;
}

.parkingmate-footer-button-item-in-text{
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: 33px;
  color: #868e96;
}

.item-active .parkingmate-footer-button-item-in-text{
  color: #212529;
  font-weight: 700;
}

.parkingmate-footer-button-item-svg{
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  fill: currentColor;
  position: absolute;
  top: 9px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 24px;
  color: #868e96;
  font-size: 24px;
}

.item-active .parkingmate-footer-button-item-svg{
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  fill: currentColor;
  position: absolute;
  top: 3px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 24px;
  font-size: 24px;
  color: #212529;
}

.parkingmate-footer-button-plus{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: .2s;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 2px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  max-width: 72px;
  margin: 0 auto;
}

.parkingmate-search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dde2e6;
  width: 100%;
  height: 40px;
  margin-right: 16px;
  padding: 0 16px;
}

button:not(:disabled) {
  cursor: pointer;
}


.parkingmate-search-container-input {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
}

.parkingmate-search-container-input::placeholder{
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #adb5bd;
}



.parkingmate-search-container-svg{
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  fill: currentColor;
  color: #495057;
}

.parkingmate-alram{
  display: inline-block;
}

.parkingmate-alram-button{
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.parkingmate-alram-button-svg{
  display: inline;
  transform: scale(1);
  transition: transform .3s ease-out;
  width: 1em;
  height: 1em;
  fill: currentColor;
  color: #000;
  font-size: 24px;
}