@font-face { 
  font-family: "SDGothic";
  src: url("font/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: 'SDGothic', serif;
}

body, table th {
  font-weight: 400;
}

body {
  overflow-x: hidden;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
}

*, :after, :before {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

article, main, section {
  display: block;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

#parkingmate_header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.parkingmate_mobile-header {
  display: block;
  position: relative;
}

.parkingmate_mobile-header .parkingmate_header-wrapper {
  position: relative;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 56px;
  text-align: center;
}

.parkingmate_mobile-header .parkingmate_header-wrapper .parkingmate_header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  height: 100%;
}

.parkingmate_header-mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 44px;
  width: 44px;
  overflow: hidden;
}

.parkingmate_header-mobile-button-back {
  left: 6px;
}

button:not(:disabled) {
  cursor: pointer;
}

.parkingmate_with-icon {
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.parkingmate_button-icon {
  color: #495057;
}

.parkingmate_header-mobile-button-home {
  right: 6px;
}

.parkingmate-header-mobile-search {
  right: 50px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.parkingmate_title-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.parkingmate_title-field-container .parkingmate_title-field-title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
}

.parkingmate_board {
  color: #44484b;
}

.parkingmate_ui-tabs {
  position: sticky;
  top: 0;
  left: 0;
  clear: both;
  z-index: 10;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
  height: 48px;
  overflow: hidden;
  background: hsla(0,0%,100%,.95);
}

li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li, ol, ul {
  list-style: none;
}

.parkingmate_ui-tabs ul {
  margin: 0 auto;
  padding: 0 16px;
  height: 68px;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
  line-height: 0;
  white-space: nowrap;
  font-size: 0;
}

.parkingmate_ui-tabs li, .parkingmate_ui-tabs li a, .parkingmate_ui-tabs ul {
  display: block;
  height: 100%;
}

.parkingmate_ui-tabs li {
  display: inline-block;
  margin-right: 18px;
  height: 48px;
}

.parkingmate_ui-tabs a {
  display: block;
  line-height: 48px;
  color: #686868;
  font-size: 17px;
  font-weight: 400;
}

.parkingmate_ui-tabs li.active>a {
  border-bottom: 3px solid #00c4c4;
  color: #00b2b2;
  font-weight: 500;
}

.parkingmate_board .parkingmate_board-main, .parkingmate_board .parkingmate_ui-header {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right) - 32px);
  max-width: 800px;
}

.parkingmate_board-main .parkingmate_article {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-top: 16px;
}

address, cite, dfn, em, var {
  font-weight: inherit;
  font-style: normal;
}

.parkingmate_board-main .parkingmate_article .parkingmate_q-status, 
.parkingmate_board-main .parkingmate_article .parkingmate_status, 
.parkingmate_board-main .parkingmate_article .parkingmate_notice, 
.parkingmate_board-main .parkingmate_article .parkingmate_category {
  display: inline-block;
  padding-bottom: 6px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

.parkingmate_board-main .parkingmate_article .parkingmate_status {
  color: #00b2b2;
}

.parkingmate_board-main .parkingmate_article .parkingmate_status.closed, 
.parkingmate_board-main .parkingmate_article .parkingmate_q-status {
  color: #696f75;
}

.parkingmate_board-main .parkingmate_article .parkingmate_notice {
  color: #4462ee;
}

.parkingmate_board-main .parkingmate_article .parkingmate_q-status::before, 
.parkingmate_board-main .parkingmate_article .parkingmate_notice::before {
  display: inline-block;
  margin-top: -1px;
  margin-right: 4px;
  background-color: #babdc0;
  width: 2px;
  height: 2px;
  vertical-align: middle;
  content: "";
}

.parkingmate_board-main .parkingmate_article .parkingmate_info {
  padding-bottom: 16px;
  line-height: 16px;
  font-size: 12px;
}

.parkingmate_board-main .parkingmate_article .parkingmate_info .parkingmate_title {
  padding-bottom: 8px;
  line-height: 20px;
  color: #212529;
  font-size: 15px;
}

.parkingmate_board-main .parkingmate_article:hover .parkingmate_title {
  text-decoration: underline;
}

.parkingmate_board-main .parkingmate_article .parkingmate_info .parkingmate_author, .parkingmate_board-main .parkingmate_article .parkingmate_info .parkingmate_created-at {
  margin-right: 8px;
  color: #696f75;
  font-size: 12px;
}

.parkingmate_board .parkingmate_board-footer .parkingmate_search:after,
 .parkingmate_board-footer .parkingmate_board .parkingmate_search:after, 
 .parkingmate_board .parkingmate_board-main .parkingmate_article:after,
  .parkingmate_board-main .parkingmate_board .parkingmate_article:after {
  display: block;
  clear: both;
  content: "";
}