<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.parkingmate.mapper.CouponlistMapper">
    <insert id="insert">
        INSERT INTO TBL_COUPONLIST (ID, COUPON_ID, USER_ID )
        VALUES (SEQ_COUPONLIST.NEXTVAL, #{couponId}, #{userId})
    </insert>

    <select id="selectAll" resultType="Integer">
        SELECT ID, COUPON_ID, USER_ID
        FROM TBL_COUPONLIST
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateStatus">
        UPDATE TBL_COUPONLIST
        SET COUPON_STATUS = #{couponStatus} , UPDATE_DATE = TO_DATE(CURRENT_DATE)
        WHERE ID = #{id}
    </update>

    <select id="selectByCoupon" resultType="Integer">
        SELECT * FROM TBL_COUPONLIST WHERE TBL_COUPONLIST.COUPON_ID in (SELECT ID FROM TBL_COUPON) AND USER_ID = #{userId};
    </select>
</mapper>