<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.parkingmate.mapper.EventMapper">
    <insert id="insert">
        INSERT INTO TBL_EVENT (ID, EVENT_STATUS, EVENT_TITLE, EVENT_CONTENT, EVENT_START_DATE, EVENT_END_DATE, CREATE_DATE, UPDATE_DATE)
        VALUES(SEQ_EVENT.NEXTVAL, #{eventStatus}, #{eventTitle}, #{eventContent}, #{eventStartDate},#{eventEndDate},TO_DATE(CURRENT_DATE),TO_DATE(CURRENT_DATE))
    </insert>

    <select id="selectAll" resultType="EventVO">
        SELECT ID, EVENT_STATUS, EVENT_TITLE, EVENT_CONTENT, EVENT_START_DATE, EVENT_END_DATE, CREATE_DATE
        FROM TBL_EVENT
    </select>

    <select id="select" resultType="EventVO">
        SELECT ID, EVENT_STATUS, EVENT_TITLE, EVENT_CONTENT, EVENT_START_DATE, EVENT_END_DATE, CREATE_DATE
        FROM TBL_EVENT
        WHERE ID = #{id}
    </select>
    
    <update id="update">
        UPDATE TBL_EVENT
        SET EVENT_TITLE = #{eventTitle}, EVENT_CONTENT = #{eventContent} , UPDATE_DATE = TO_DATE(CURRENT_DATE)
        WHERE ID = #{id}
    </update>

    <update id="updateStatus">
        UPDATE TBL_EVENT
        SET EVENT_STATUS = #{eventStatus} , UPDATE_DATE = TO_DATE(CURRENT_DATE)
        WHERE ID = #{id}
    </update>
</mapper>