<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.parkingmate.mapper.ParkingMapper">
    <select id="select" resultType="parkingVO">
        SELECT ID, PARKING_ADDRESS, PARKING_CATEGORY, PARKING_NAME
        FROM TBL_PARKING
        WHERE PARKING_ADDRESS LIKE '%' || #{ParkingAddress, jdbcType=VARCHAR} || '%'
    </select>
</mapper>