<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.parkingmate.mapper.ReservationMapper">
    <insert id="insert">
        INSERT INTO TBL_RESERVATION (ID, RESERVATION_DATE, RESERVATION_REQUEST, RESERVATION_NUMBER, CREATE_DATE, UPDATE_DATE, USER_ID, PARKING_ID)
        VALUES (SEQ_RESERVATION.NEXTVAL, #{reservationDate},#{reservationRequset},#{reservationNumber},TO_DATE(CURRENT_DATE),TO_DATE(CURRENT_DATE),#{userId},#{parkingId} )
    </insert>

    <select id="selectById" resultType="ReservationVO">
        SELECT RESERVATION_DATE, RESERVATION_REQUEST, RESERVATION_NUMBER, RESERVATION_STATUS
        FROM TBL_RESERVATION
        WHERE ID = #{userId}
    </select>

    <update id="cancel">
        UPDATE TBL_RESERVATION
        SET RESERVATION_STATUS = 2 , UPDATE_DATE = TO_DATE(CURRENT_DATE)
        WHERE ID = #{id}
    </update>
</mapper>