@charset "utf-8";

*, :after, :before {
  box-sizing: border-box;
}

body, button, html, input, textarea {
  font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

body, button, input, select, textarea {
  font-family: inherit;
}

body, table th {
  font-weight: 400;
}

body {
  overflow-x: hidden;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
}

div {
  display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

address, cite, dfn, em, var {
  font-weight: inherit;
  font-style: normal;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

main, section, article {
  display: block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe, img, video {
  vertical-align: top;
}

img, video {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
}

address, cite, dfn, em, var {
  font-weight: inherit;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.parkingmate-footer{
  background: #fff;
  padding-top: 120px;
  color: #212121;
  font-size: 12px;
  position: relative;
}

@supports (padding-bottom: env(safe-area-inset-bottom)){
  .parkingmate-footer {
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
  }
}

.parkingmate-FooterMenu-container{
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  text-align: left;
}

.parkingmate-FooterMenu-bar{
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.parkingmate-FooterMenu-left{
  display: flex;
  flex-direction: row;
}

.parkingmate-FooterMenu-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 50%;
  height: 40px;
  text-align: left;
  color: #495057;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.parkingmate-linker-button{
  position: relative;
  outline: none;
}

.parkingmate-svg{
  display: block;
  transform: scale(1);
  transition: transform .3s ease-out;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 16px;
}

.parkingmate-linker-button > .parkingmate-linkerIcon{
  display: inline-block!important;
  transform: rotate(90deg);
  animation: Linker_activeHide__1EcPt .5s forwards;
  margin-left: 4px;
  color: rgba(0,0,0,.54);
}

.parkingmate-FooterMenu-bold{
  font-weight: 700;
}

.parkingmate-FooterMenu-right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parkingmate-openLinkIcon{
  display: inline-block;
  margin-left: 6px;
  vertical-align: text-top;
}

.parkingmate-FooterMenu-languageMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
}

.parkingmate-FooterMenu-languageIcon{
  height: auto;
  max-width: fit-content;
}

.parkingmate-FooterContainer{
  padding-bottom: 0;
}

.parkingmate-FooterContainer-inner{
  display: flex;
  flex-direction: column;
}

.parkingmate-FooterContainer-leftSection{
  border-bottom: 1px solid #f2f4f6;
  padding: 16px;
}

.parkingmate-FooterContainer-title{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #212529;
  line-height: 28px;
  font-size: 16px;
  font-weight: 700;
}

.parkingmate-FooterContainer-title::before{
  display: inline-block;
  margin-right: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA8UExURUdwTCUoLSEmKyEmKSElKScsLiImKiElKSElKSEmKiElKiIlKyElKiInKyIlKSIlKiImKSQqLS1AQCElKRLEMhcAAAATdFJOUwAiVJbvEoz7vm7ZSaMxdqumGwUhhJyxAAABbElEQVRIx6VW2aKEIAglcwGrafH///VW0zSh0DKXR0Q8HDYB/i/OkB8QW0/GXVtXhCHtEpDGc/M+FdJWOpY6JEGCV5A1NiliG8n+lXQJVJhPbTqVesouXNjPNy7whCJ+hqrhZ7hkzBnkLg6RO8aP3X3R8Zlgv+zWzJWZPVBd03xu2IHf88vw9p+MLOyzzIdPznk9dDBuCO0IHa+S7QGeVQB/wMCz/65EYroIsLODAFGgFjn/MQb1Aq6cZikKLLscUliYNXo5NFnQK+VZCFn5eKE+vGY/c9SFUgeDYv8CGGOuHHKSuP/CfqVJvhAn6ISWRRWSARcF9aAFPRP+UoDKtEYFKmmJ0y4YoTTeNYtoZaQ6r5KgUN6nQkIDbTEQSZAqqUW3PpX89OIQ2Po0b4XjEMjGzPZCdzItx8KZ9b7UOXVUav13czl8++PRuG8fLpR2erSycjy/LUV97dbu0WLvq2dfh+r252S49zm5lD8cD271e3tWtwAAAABJRU5ErkJggg==) no-repeat center/16px 16px;
  width: 16px;
  height: 16px;
  content: "";
}

.parkingmate-FooterContainer-directButton{
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
  padding: 0;
  width: 49%;
  text-align: left;
  color: #495057;
}

.parkingmate-FooterContainer-customcenterButton{
  width: 100%;
}

.parkingmate-FooterContainer-enableTime{
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  border-top: 1px solid #f2f4f6;
  padding-top: 16px;
  white-space: nowrap;
  color: #868e96;
}

.parkingmate-FooterContainer-enableTime dt {
  margin-bottom: 4px;
  font-weight: 700;
}

.parkingmate-FooterContainer-rightSection{
  padding: 24px 16px 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}

.parkingmate-FooterInfo li{
  display: inline;
  color: #495057;
}

.parkingmate-FooterInfo li::after{
  content: "|";
  color: #dde2e6;
  margin: 0 5px;
}

.parkingmate-FooterInfo-contactInfoWrap{
  display: block;
}

.parkingmate-FooterInfo-contactInfo{
  margin-top: 4px;
}

.parkingmate-FooterInfo-contactInfo li{
  display: inline;
  color: #495057;
}

.parkingmate-FooterInfo-contactInfo li::after{
  content: "|";
  color: #dde2e6;
  margin: 0 5px;
}

.parkingmate-footer a{
  transition: color .2s;
}

.parkingmate-FooterInfo-copyright{
  display: inline-block;
  margin-top: 4px;
  color: #000;
  font-weight: 900;
}

.parkingmate-FooterContainer-infoNotice{
  margin-top: 16px;
  color: #868e96;
}

.parkingmate-FooterContainer-infoNotice p{
  display: inline;
}