<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[이벤트] 친구초대하고 3,000포인트 받자</title>
  <link rel="stylesheet" href="/css/event/eventDetail.css">
  <link rel="stylesheet" href="/css/event/event_media.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/fragment/header.css" />
  <link rel="stylesheet" href="/css/fragment/footer.css" />
  <link rel="stylesheet" href="/css/coupon/coupons.css" />
</head>
<body>
  <div id="parkingmate_page-container">
    <div id="parkingmate_header">
      <div class="parkingmate_web-header">
        <div class="parkingmate_web-header-mobile">
          <header class="parkingmate-header-wrapper">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
          </header>
        </div>
      </div>
    </div>
    <form id="forwardForm" method="get">
      <input type="hidden" id="returnURL" name="returnURL">
    </form>
    <input type="hidden" id="sessionLoginCheck" value="false">
    <div id="parkingmate_newContainer">
      <div id="parkingmate_pBoardWrap">
        <div class="parkingmate_pboard-wrap">
          <div class="parkingmate_pboard-detail-content">
            <!--        th 블록-->
              <th:block th:object="${event}">
                <div class="parkingmate_article-top">
                  <p class="parkingmate_title" th:text="${session.event.eventTitle}"></p>
                  <div class="parkingmate_info">
                    <em class="parkingmate_user-img" style="background-image: url(/images/favicon.png);"></em>
                    <span class="parkingmate_user-info">파킹메이트<br>2023.08.23</span>
                    <span th:text="${session.event.eventContent}"></span>
                  </div>
                </div>
              </th:block>
            <!--        </th:block>-->

            <div class="parkingmate_inner-contents">
              <img src="event01.jpg" alt="">
            </div>
            <div class="parkingmate_article-attached">
    					<ul></ul>
    				</div>
          </div>
        </div>
        <div class="parkingmate_pcommunity-detail-bottom">
          <div class="parkingmate_pcommunity-share-area">
            <button type="button" class="parkingmate_btn-symp">
              <span id="sympCount">0</span></button>
            <div class="parkingmate_btn-share">
              <button class="parkingmate_kakao" onclick=""></button>
              <button class="parkingmate_facebook" onclick=""></button>
              <button class="parkingmate_twitter" onclick=""></button>
            </div>
          </div>
          <div class="parkingmate_pboard-detail-bottom">
            <div class="parkingmate_pboard-comment">
              <p class="parkingmate_comment-num">
                <em>이벤트</em>
                 말머리의 다른 게시글
              </p>
              <th:block th:object="${event}">
                <div class="parkingmate_pboard-list">
                <ul>
                  <li>
                    <a href="">
                      <p class="parkingmate_title">
                        <em class="parkingmate_category">이벤트</em>
                        지금 회원가입하면? 할인쿠폰 3종 즉시 발급!
                      </p>
                      <p class="parkingmate_info">
                      <span class="parkingmate_date">
                        파킹메이트
                        2023.08.18
                      </span></p>
                    </a>
                  </li>
                </ul>
              </div>
              </th:block>
            </div>
            <div class="parkingmate_pboard-detail-btn-wrap">
              <a class="parkingmate button" href="event" onclick="">목록으로 돌아가기</a>
            </div>
          </div> 
        </div>
      </div>
      <input type="hidden" id="articleUrl" value="">
      <th:block th:replace="~{fragment/footer :: footer}"></th:block>
    </div>
  </div>
</body>
</html>