<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파킹메이트 이벤트</title>
  <link rel="stylesheet" href="/css/event/event.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/fragment/header.css" />
  <link rel="stylesheet" href="/css/fragment/footer.css" />
</head>
<body>
  <div id="parkingmate_page-container">
    <div id="parkingmate_header">
      <div class="parkingmate_mobile-header">
        <header class="parkingmate-header-wrapper">
          <th:block th:replace="~{fragment/header :: header}"></th:block>
        </header>
      </div>
    </div>
  </div>
  <main class="parkingmate_board">
    <div class="parkingmate_ui-tabs"></div>
    <div class="parkingmate_board-main">
      <ul>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 친구초대하고 3,000포인트 받자 </h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.23</span>
            </div>
          </a>
        </li>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 지금 회원가입하면? 할인쿠폰 3종 즉시 발급!</h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.29</span>
            </div>
          </a>
        </li>  
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 친구초대하고 3,000포인트 받자 </h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.23</span>
            </div>
          </a>
        </li>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 지금 회원가입하면? 할인쿠폰 3종 즉시 발급!</h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.29</span>
            </div>
          </a>
        </li>  
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 친구초대하고 3,000포인트 받자 </h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.23</span>
            </div>
          </a>
        </li>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 지금 회원가입하면? 할인쿠폰 3종 즉시 발급!</h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.29</span>
            </div>
          </a>
        </li>  
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 친구초대하고 3,000포인트 받자 </h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.23</span>
            </div>
          </a>
        </li>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 지금 회원가입하면? 할인쿠폰 3종 즉시 발급!</h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.29</span>
            </div>
          </a>
        </li>  
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 친구초대하고 3,000포인트 받자 </h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.23</span>
            </div>
          </a>
        </li>
        <li>
          <a href="event-detail" class="parkingmate_article">
            <em class="parkingmate_status closed">진행 중</em>
            <div class="parkingmate_info">
              <h3 class="parkingmate_title">[이벤트] 지금 회원가입하면? 할인쿠폰 3종 즉시 발급!</h3>
              <span class="parkingmate_author">ParkingMate</span>
              <span class="parkingmate_created-at">2023.08.29</span>
            </div>
          </a>
        </li>  
      </ul>
    </div>
    <div class="parkingmate_board-footer">
      <div class="parkingmate_pagination">
        <button class="prev-page icon-chevron-left mobile-only" onclick="" disabled="">
          <span class="parkingmate_text-hidden">이전 목록</span>
        </button>
        <div class="parkingmate_page">
          <div class="mobile-only">
            <span class="parkingmate_current-count">1</span>
            /
            <span class="parkingmate_total-count">
              <span>2</span> 
              페이지
            </span>
          </div>
        </div>
        <button class="next-page icon-chevron-right mobile-only" onclick="">
          <span class="parkingmate_text-hidden">다음 목록</span>
        </button>
      </div>
      <div class="parkingmate_search">
        <form method="post" id="parkingmate_news-board-search">
          <div class="parkingmate_filter-container">
            <select id="parkingmate_searchSelectInBoard" class="filter" name="">
              <option value="tc">제목+내용</option>
              <option value="t">제목</option>
              <option value="c">내용</option>
            </select>
          </div>
          <div class="parkingmate_field">
            <label class="parkingmate_text-hidden" for="">검색창</label>
            <input id="searchTextInBoard" name="searchTextInBoard" class="parkingmate_search-form" type="text" value="">
            <button class="parkingmate_btn-search dense" type="submit">검색</button>
          </div>
        </form>
        <form id="formSearch" name="formSearchBoard" action="/web/wboard/newsBoardList/2" method="post">
          <input id="searchText1" name="searchText1" type="hidden" value="">
          <input id="searchSelect1" name="searchSelect1" type="hidden" value="">
          <input id="searchSelect2" name="searchSelect2" type="hidden" value="">
          <input id="searchSelect4" name="searchSelect4" type="hidden" value="">
          <input id="searchSelect5" name="searchSelect5" type="hidden" value="">
        </form>
      </div>
    </div>
    <div aria-hidden="true" style="position: relative; left: 0px; bottom: 48px; width: 100%;"></div>
  </main>
  <th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/event/event.js"></script>
</html>