<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:logo" content="" size="150x150" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>FOOTER</title>
    <link rel="stylesheet" href="/css/fragment/header.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link rel="stylesheet" href="https://static.wadiz.kr/assets/fonts/font.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <style>
      @font-face {
        font-family: "SegoeUI_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
      }

      @font-face {
        font-family: "SegoeUI_bold_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
      }
    </style>
  </head>
<body>
<th:block th:fragment="mainHeader">
  <div class="header">

  <!-- 헤더 안 컨테이너 전체박스 -->
  <div class="header-wrap">

    <!-- 헤더 컨테이너 -->
    <div class="header-container">

      <!-- 뒤로가기 버튼 -->
      <button class="back-button button-all">

        <!-- 뒤로가기 이미지 -->
        <svg viewBox="0 0 24 24" fill="none" focusable="false"
             role="presentation" class="withIcon_icon__3VTbq Button_icon__2Lds2"
             aria-hidden="true" style="width: 24px;height: 24px;">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z">
          </path>
        </svg>

      </button>

      <!-- 홈 버튼 -->
      <button class="home-button button-all">
        <a class="" href="/">

          <!-- 홈 이미지 -->
          <svg viewBox="0 0 40 40" focusable="false" role="presentation"
               class="withIcon_icon__3VTbq Button_icon__2Lds2" aria-hidden="true"
               style="width: 24px; height: 24px;">
            <path d="M13.38 36.13h2.4v-13.9h8.44v13.9h2.4V19.84H13.38v16.29z"></path>
            <path d="M20 3.41L3.8 14.49v21.64h2.4V15.75L20 6.32l13.8 9.43v20.38h2.4V14.49L20 3.41z"></path>
            <path fill="none" d="M0 0h40v40H0z"></path>
          </svg>

        </a>
      </button>

      <!-- 검색 버튼 -->
      <button class="search-button button-all">

        <!-- 검색 이미지 -->
        <svg viewBox="0 0 40 40" focusable="false" role="presentation"
             class="withIcon_icon__3VTbq Button_icon__2Lds2" aria-hidden="true"
             style="width: 24px; height: 24px;"><path fill="none" d="M0 0h40v40H0z"></path>
          <path d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path>
        </svg>

      </button>

      <!-- 로고 -->
      <div class="title-logo">
        <p class="title">ParkingMate</p>
      </div>

    </div>

  </div>

  </div>
  <div class="search-all">

    <!-- search-box -->
    <div class="search-bx">

      <!-- 왼쪽 마진 -->
      <div class="search-mg-bx"></div>

      <!-- 검색박스 내용 -->
      <div class="search-content-bx">
        <input type="text" placeholder="출발지를 입력해주세요.">
      </div>

      <!-- 검색 버튼 -->

    </div>

    <!-- search-box -->
    <div class="search-bx sb-2">

      <!-- 왼쪽 마진 -->
      <div class="search-mg-bx"></div>

      <!-- 검색박스 내용 -->
      <div class="search-content-bx">
        <input type="text" placeholder="목적지를 입력해주세요.">
      </div>

      <!-- 검색 버튼 -->
      <button class="search-bx-search-btn">
        <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq" aria-hidden="true" style="width: 20px; height: 20px;"><path fill="none" d="M0 0h40v40H0z"></path><path d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path></svg>
      </button>

    </div>

    <!-- 옵션 선택박스 -->
    <div class="select-option-bx">

      <!-- 옵션 선택ul -->
      <ul class="select-option-ul">

        <li class="select-option-li selected-li">
          <button class="select-option-btn">
              <span class="select-img">
                <span class="select-img-ibx">
                  <svg viewBox="0 0 17 18"><path d="M11.75 11.567a.813.813 0 111.626 0 .813.813 0 01-1.626 0zm-8.125 0a.813.813 0 111.626 0 .813.813 0 01-1.626 0zm0-3.16h9.75V4.343h-9.75v4.062zm8.031-6.095c-.04-.09-.08-.18-.114-.264a.533.533 0 00-.389-.315C10.586 1.593 9.711 1.5 8.5 1.5s-2.086.094-2.653.233a.533.533 0 00-.39.315 9.95 9.95 0 01-.113.264H3.219A1.22 1.22 0 002 3.532V16.1c0 .224.182.4.406.4h.813a.401.401 0 00.406-.4V15h9.75v1.1c0 .224.182.4.406.4h.813a.401.401 0 00.406-.4V3.531a1.22 1.22 0 00-1.219-1.219h-2.125z" fill-rule="evenodd"></path></svg>
                </span>
              </span>
            <span>대중교통</span>
          </button>
        </li>

        <li class="select-option-li">
          <button class="select-option-btn">
              <span class="select-img">
                <span class="select-img-ibx">
                  <svg viewBox="0 0 24 24"><path d="M18 13.283a1 1 0 110 2 1 1 0 010-2zM7.186 6.663A31.349 31.349 0 0112 6.281c1.958 0 3.678.203 4.814.382l1.871 4.127c-2.271-.106-4.518-.159-6.685-.159s-4.414.053-6.685.159l1.87-4.127zM5 14.283a1 1 0 112 0 1 1 0 01-2 0zm15.531-3.875l-2.32-4.884a.998.998 0 00-.734-.557A33.375 33.375 0 0012 4.5c-2.394 0-4.448.29-5.477.467a.994.994 0 00-.734.557l-2.32 4.884h-.683a.285.285 0 00-.286.285v1.429c0 .158.128.286.286.286H3v6.609c0 .265.217.482.482.482h1.446a.484.484 0 00.482-.482v-1.189c1.643.07 3.984.145 6.59.145s4.946-.074 6.59-.145v1.19c0 .264.217.481.482.481h1.446a.484.484 0 00.482-.482v-6.609h.214a.286.286 0 00.286-.286v-1.429a.285.285 0 00-.286-.285h-.683z"></path></svg>
                </span>
              </span>
            <span>자동차</span>
          </button>
        </li>

        <li class="select-option-li">
          <button class="select-option-btn">
              <span class="select-img">
                <span class="select-img-ibx">
                  <svg viewBox="0 0 24 24"><path d="M14.032 3.622a1.622 1.622 0 11-3.243-.001 1.622 1.622 0 013.243.001zm3.405 8.306a.564.564 0 01.111.765l-.365.523a.567.567 0 01-.753.161l-1.818-1.092v1.066l1.995 7.977a.541.541 0 01-.525.672h-1.096a.539.539 0 01-.505-.35l-2.305-6.146-2.304 6.146a.543.543 0 01-.507.35H8.27a.54.54 0 01-.524-.672l1.994-7.977V9.66l-.214.21-1.544 3.182a.567.567 0 01-.698.285l-.559-.199a.56.56 0 01-.32-.29.556.556 0 01-.022-.431L7.632 8.91a.853.853 0 01.171-.285l1.673-1.84a1.41 1.41 0 011.043-.462h2.964a1.13 1.13 0 011.129 1.13v2.222l2.825 2.252z"></path></svg>
                </span>
              </span>
            <span>도보</span>
          </button>
        </li>

        <li class="select-option-li">
          <button class="select-option-btn">
              <span class="select-img">
                <span class="select-img-ibx">
                  <svg viewBox="0 0 24 24"><path d="M18.439 19.89a2.954 2.954 0 01-2.951-2.95c0-1.628 1.324-2.952 2.951-2.952s2.951 1.324 2.951 2.951-1.324 2.951-2.951 2.951zm0-7.512c-2.515 0-4.561 2.046-4.561 4.561S15.924 21.5 18.44 21.5 23 19.454 23 16.94a4.566 4.566 0 00-4.561-4.562zm-6.9-1.551l1.582 1.588c.21.21.323.499.312.796l-.18 4.95a.536.536 0 01-.535.517H11.59a.537.537 0 01-.535-.5l-.316-4.608-2.863-2.876a1.61 1.61 0 01.002-2.274l.024-.023-.002-.002 3.736-3.738a1.072 1.072 0 011.518 0l.476.475.003-.003 3.339 3.338 1.905.137c.28.02.498.254.498.535v.574c0 .296-.24.537-.537.537h-2.675c-.284 0-.557-.114-.759-.315l-1.488-1.487-2.377 2.379zm5.674-5.9a1.61 1.61 0 11-2.275-2.278 1.61 1.61 0 012.275 2.279zM5.56 19.89a2.954 2.954 0 01-2.951-2.95c0-1.628 1.324-2.952 2.951-2.952s2.951 1.324 2.951 2.951S7.187 19.89 5.56 19.89zm0-7.512C3.046 12.378 1 14.424 1 16.94s2.046 4.56 4.561 4.56 4.561-2.046 4.561-4.56a4.566 4.566 0 00-4.561-4.562z"></path></svg>
                </span>
              </span>
            <span>자전거</span>
          </button>
        </li>

      </ul>

    </div>

  </div>
</th:block>
</body>
<script type="text/javascript" src="/js/coupon/couponlist.js"></script>
</html>