<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:logo" content="" size="150x150" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>주차메이트 쿠폰</title>
    <link rel="stylesheet" href="/css/coupon/coupons.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link rel="stylesheet" href="https://static.wadiz.kr/assets/fonts/font.css" />
    <link rel="stylesheet" href="/css/fragment/header.css" />
    <link rel="stylesheet" href="/css/fragment/footer.css" />

    <style>
      @font-face {
        font-family: "SegoeUI_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
      }

      @font-face {
        font-family: "SegoeUI_bold_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
      }
    </style>
  </head>
<body>
  <div id="parkingmate-page-container">
    <div id="parkingmate-header">
      <div class="parkingmate-web-header">
        <div class="parkingmate-web-header-mobile">
          <header class="parkingmate-header-wrapper">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
          </header>
        </div>
      </div>
      <main class="parkingmate-main-wrapper">
        <section class="parkingmate-couponPage">
          <div class="parkingmate-coupon-header-container">
            <nav class="parkingmate-coupon-header-nav">
              <ul>
                <li>
                  <a href="coupons" class="parkingmate-coupon-header-link link-active">
                    나의 쿠폰<em th:text="${#lists.size(couponlists)}"></em>
                  </a>
                </li>
                <li>
                  <a href="couponlist" class="parkingmate-coupon-header-link">
                    쿠폰존<em th:text="${#lists.size(coupons)}"></em>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="parkingmate-coupon-container">
            <div class="parkingmate-coupon-wrapper">
              <div class="parkingmate-myCoupon-header">
                <strong class="parkingmate-coupon-title">
                  현재 사용가능 쿠폰 <span>2장</span>
                </strong>
                <p>
                  현재 사용가능한 쿠폰 내역 입니다.<br>
                </p>
              </div>
            </div>
          </div>
          <div class="parkingmate-coupon-container my-coupons">
            <div class="parkingmate-coupon-wrapper">
              <div class="parkingmate-coupon-list-container">
                <div class="parkingmate-coupon-list-header">
                </div>
                <div class="parkingmate-coupon-list-container-container">
                  <div class="parkingmate-coupon-list-item">
                    <th:block th:each="couponlist:${couponlists}" th:object="${couponlist}">
                      <div class="parkingmate-coupon-list-item-container">
                      <p class="parkingmate-coupon-list-item-campaign">스토어</p>
                      <div class="parkingmate-coupon-item-container">
                        <dl>
                          <dd class="parkingmate-discount-rate">
                            <span class="parkingmate-discount-rate-text" th:text="${coupon.couponDiscountPercent} + '%'"></span>
                          </dd>
                          <dd class="parkingmate-coupon-dd-text">스토어 8월 보너스 10% 쿠폰</dd>
                          <dd>
                            <div class="parkingmate-coupon-dd-text-container">
                              <table>
                                <tbody>
                                  <tr>
                                    <th scope="row">유효기간</th>
                                    <td>2023.08.28 23시 59분</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">사용조건</th>
                                    <td>60,000원 이상 상품 구매 시<br>최대 50,000원 할인 가능</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    </th:block>
                    <div class="parkingmate-coupon-list-item-container">
                      <p class="parkingmate-coupon-list-item-campaign">스토어</p>
                      <div class="parkingmate-coupon-item-container">
                        <dl>
                          <dd class="parkingmate-discount-rate">
                            <span class="parkingmate-discount-rate-text">7,000원</span>
                          </dd>
                          <dd class="parkingmate-coupon-dd-text">스토어 가을의발견 7천원 쿠폰</dd>
                          <dd>
                            <div class="parkingmate-coupon-dd-text-container">
                              <table>
                                <tbody>
                                  <tr>
                                    <th scope="row">유효기간</th>
                                    <td>2023.08.31 23시 59분</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">사용조건</th>
                                    <td>100,000원 이상 상품 구매 시
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
          <div></div>
        </section>
        <th:block th:replace="~{fragment/footer :: footer}"></th:block>
      </main>
    </div>
</body>
</html>