<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:logo" content="" size="150x150" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>주차메이트 쿠폰</title>
    <link rel="stylesheet" href="/css/coupon/couponlist.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link rel="stylesheet" href="https://static.wadiz.kr/assets/fonts/font.css" />
    <link rel="stylesheet" href="/css/fragment/header.css" />
    <link rel="stylesheet" href="/css/fragment/footer.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <style>
      @font-face {
        font-family: "SegoeUI_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
      }

      @font-face {
        font-family: "SegoeUI_bold_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
      }
    </style>
  </head>
<body>
  <div id="parkingmate-page-container">
    <div id="parkingmate-header">
      <div class="parkingmate-web-header">
        <div class="parkingmate-web-header-mobile">
          <header class="parkingmate-header-wrapper">
            <th:block th:replace="~{fragment/header :: header}"></th:block>
          </header>
        </div>
      </div>
      <main class="parkingmate-main-wrapper">
        <section class="parkingmate-couponPage">
          <div class="parkingmate-coupon-header-container">
            <nav class="parkingmate-coupon-header-nav">
              <ul>
                <li>
                  <a href="coupons" class="parkingmate-coupon-header-link">
                    나의 쿠폰<em>2</em>
                  </a>
                </li>
                <li>
                    <a href="couponlist" class="parkingmate-coupon-header-link link-active">
                      쿠폰존<em th:text="${#lists.size(coupons)}"></em>
                    </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="parkingmate-coupon-container">
            <div class="parkingmate-coupon-container-wrapper"></div>
          </div>
          <div class="parkingmate-coupon-list-container">
            <div class="parkingmate-coupon-list-wrapper">
              <div class="parkingmate-couponDownloadList-container">
                <div class="parkingmate-listContainer">
                  <!-- 쿠폰한칸 -->
                  <th:block th:each="coupon:${coupons}" th:object="${coupon}">
                    <th:blcok th:each="couponlist:${couponlists}">
                      <!-- 발급 안받은 쿠폰 -->
                      <th:block th:if="${coupon.id == couponlist.couponId}">
                        <div class="parkingmate-coupon-item">
                          <div class="parkingmate-coupon-item-container">
                            <div class="parkingmate-coupon-item-content">
                              <dl>
                                <dt class="hidden-text">카테고리</dt>
                                <dd class="parkingmate-coupon-type">이벤트</dd>
                                <dt class="hidden-text">쿠폰명</dt>
                                <dd class="parkingmate-coupon-title" th:text="${coupon.couponName}"></dd>
                                <dt class="hidden-text">할인 정보</dt>
                                <dd class="parkingmate-coupon-amount">
                                  <span th:text="${coupon.couponDiscountPercent} + '%'"></span>
                                </dd>
                                <dt class="hidden-text">사용 기간</dt>
                                <dd>
                                  <p th:text="|${#dates.format(coupon.couponEndDate, 'yyyy-MM-dd')} 까지 사용 가능|"></p>
                                </dd>
                              </dl>
                              <button class="parkingmate-downloadItem-more">
                                상세 조건 보기
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="parkingmate-downloadItem-more-svg open" aria-hidden="true"><path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path></svg>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="parkingmate-downloadItem-more-svg close" aria-hidden="true"><path d="M16 9.6L26.4 20l-1.12 1.12L16 11.84l-9.28 9.28L5.6 20 16 9.6z"></path></svg>
                              </button>
                              <div class="parkingmate-couponDownloadItem-expand hidden">
                                <div class="parkingmate-coupon-table">
                                  <table>
                                    <tbody>
                                    <tr>
                                      <th scope="row">발급기간</th>
                                      <td th:text="|${#dates.format(coupon.couponEndDate, 'yyyy-MM-dd')}  까지|"></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">사용조건</th>
                                      <td th:text="${coupon.couponUseCondition}"></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <form th:action="@{/coupon/couponlist}"  method="post">
                              <input type="hidden" name="id" th:value="${coupon.id}">
                              <button class="parkingmate-coupon-download-button" >
                                <span>
                                  <span class="parkingmate-button-children">
                                    <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="parkingmate-button-children-svg" aria-hidden="true"><path d="M40.8 43.2H7.2v-2.4h33.6v2.4zm-5.28-22.08L25.2 31.44V4.8h-2.4v26.64L12.48 21.12 10.8 22.8 24 36l13.2-13.2-1.68-1.68z"></path></svg>
                                    <span class="parkingmate-coupon-label">쿠폰 받기</span>
                                  </span>
                                </span>
                              </button>
                            </form>
                          </div>
                        </div>
                      </th:block>
                      <!-- 쿠폰 발급 완료 -->
                      <th:block th:unless="${coupon.id == couponlist.couponId}">
                        <div class="parkingmate-coupon-item">
                          <div class="parkingmate-coupon-item-container">
                            <div class="parkingmate-coupon-item-content">
                              <dl>
                                <dt class="hidden-text">카테고리</dt>
                                <dd class="parkingmate-coupon-type">이벤트</dd>
                                <dt class="hidden-text">쿠폰명</dt>
                                <dd class="parkingmate-coupon-title" th:text="${coupon.couponName}"></dd>
                                <dt class="hidden-text">할인 정보</dt>
                                <dd class="parkingmate-coupon-amount">
                                  <span th:text="${coupon.couponDiscountPercent} + '%'"></span>
                                </dd>
                                <dt class="hidden-text">사용 기간</dt>
                                <dd>
                                  <p th:text="|${#dates.format(coupon.couponEndDate, 'yyyy-MM-dd')} 까지 사용 가능|"></p>
                                </dd>
                              </dl>
                              <button class="parkingmate-downloadItem-more">
                                상세 조건 보기
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="parkingmate-downloadItem-more-svg open" aria-hidden="true"><path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path></svg>
                                <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="parkingmate-downloadItem-more-svg close" aria-hidden="true"><path d="M16 9.6L26.4 20l-1.12 1.12L16 11.84l-9.28 9.28L5.6 20 16 9.6z"></path></svg>
                              </button>
                              <div class="parkingmate-couponDownloadItem-expand hidden">
                                <div class="parkingmate-coupon-table">
                                  <table>
                                    <tbody>
                                    <tr>
                                      <th scope="row">발급기간</th>
                                      <td th:text="|${#dates.format(coupon.couponEndDate, 'yyyy-MM-dd')} 까지|"></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">사용조건</th>
                                      <td th:text="${coupon.couponUseCondition}"></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <button class="parkingmate-coupon-download-button-deadline" type="button">
                            <span>
                              <span class="parkingmate-button-children">
                                <span class="parkingmate-coupon-label">발급 마감</span>
                              </span>
                            </span>
                            </button>
                          </div>
                        </div>
                        </th:block>
                    </th:blcok>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </section>
        <th:block th:replace="~{fragment/footer :: footer}"></th:block>
      </main>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/coupon/couponlist.js"></script>
</html>