<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:logo" content="" size="150x150" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login/login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link rel="stylesheet" href="https://static.wadiz.kr/assets/fonts/font.css" />
    <link rel="stylesheet" href="/css/fragment/header.css" />
    <link rel="stylesheet" href="/css/fragment/footer.css" />

    <style>
      @font-face {
        font-family: "SegoeUI_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
      }

      @font-face {
        font-family: "SegoeUI_bold_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
      }
    </style>
  </head>
<body>
  <div id="parkingmate-page-container">
    <main id="parkingmate-main">
      <th:block th:replace="~{fragment/header :: header}"></th:block>
      <div class="parkingmate-main-wrapper">
        <div class="parkingmate-account-intro-login">
          <div class="parkingmate-account-container">
            <h2 class="parkingmate-account-title">로그인</h2>
            <section aria-labelledby="emailLogin">
              <h3 class="parkingmate-bline-text">email 로그인</h3>
              <form th:action="@{/login/login}" method="post" th:object="${userVO}" class="parkingmate-signInForm">
                <div class="parkingmate-signInForm-field" data-test-id="emailField">
                  <label class="parkingmate-bline-text">이메일</label>
                  <input th:field="*{UserEmail}" type="email" class="parkingmate-input input-email" placeholder="이메일 입력" title="이메일 입력">
                </div>
                <div class="parkingmate-signInForm-field" data-test-id="passwordField">
                  <label class="parkingmate-bline-text">비밀번호</label>
                  <input th:field="*{UserPassword}" type="password" class="parkingmate-input input-password" placeholder="비밀번호 입력" title="비밀번호 입력">
                </div>
                <div class="parkingmate-login-action">
                  <p class="parkingmate-forgot">
                    <a href="/login/find-id">로그인 정보를 잊으셨나요?</a>
                  </p>
                </div>
                <button class="parkingmate-button parkingmate-login-button" type="button">
                  <span>
                    <span class="parkingmate-button-children">로그인</span>
                  </span>
                </button>
              </form>
            </section>
            <section aria-labelledby="SNSLogin">
              <h3 class="parkingmate-bline-text">SNS 로그인</h3>
              <div>

                <a href="https://kauth.kakao.com/oauth/authorize?client_id=1fd38d790204d58dbce4c9b70a0f5013&redirect_uri=http://localhost:10000/kakao/login&response_type=code">
                  <button class="parkingmate-button parkingmate-kakao-button" aria-label="카카오로 인증하기" type="button">
                    <span>
                      <span class="parkingmate-button-children">
                        <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="parkingmate-kakao-button-svg" aria-hidden="true"><path d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path></svg>
                        카카오로 시작하기
                      </span>
                    </span>
                  </button>
                </a>

              </div>
            </section>
            <div class="parkingmate-signUpMessage">
              <p>
                아직 주차메이트 계정이 없나요?
                <a href="/login/sign-up" data-test-id="signUpLink">회원가입</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
  <script>
    const button = document.querySelector(".parkingmate-signInForm button");
    const form = document.querySelector(".parkingmate-signInForm");
    const inputs = document.querySelectorAll(".parkingmate-signInForm input");

    button.addEventListener("click", (e) => {
      for(inp of inputs){
        if(!inp.value){
          return;
        }
      }
      form.submit();
    })
  </script>
</html>
