<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:logo" content="" size="150x150" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/login/signUp.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css" />
    <link rel="stylesheet" href="https://static.wadiz.kr/assets/fonts/font.css" />
    <link rel="stylesheet" href="/css/fragment/header.css" />
    <link rel="stylesheet" href="/css/fragment/footer.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
      @font-face {
        font-family: "SegoeUI_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui.woff);
      }

      @font-face {
        font-family: "SegoeUI_bold_online_security";
        src: url(chrome-extension://llbcnfanfmjhpedaedhbcnpgeepdnnok/segoe-ui-bold.woff);
      }
    </style>
  </head>
  <body>
    <div id="container-mobile">
      <main id="main-mobile">
        <th:block th:replace="~{fragment/header :: header}"></th:block>
        <div class="mainwrapper">
          <div class="signupintro">
            <div class="account-container">
              <h2 class="account-title">간편가입</h2>
              <div class="firstbenefit">
                <div class="firstbenefit-content">
                  <span class="gift-icon"></span
                  ><span class="text"
                    >주차메이트가 처음이라면?
                    <strong>최대 2만원 혜택</strong>
                  </span>
                </div>
              </div>
              <div>
                <button class="button-kakao">
                  <span>
                    <span class="button-children">
                      <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon SNSButtonList_kakaoIcon__3y4jL" aria-hidden="true">
                        <path d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"></path>
                      </svg>
                      카카오로 시작하기
                    </span>
                  </span>
                </button>
              </div>
            </div>
            <div class="form-change"></div>
<!--            <form   >-->
              <div class="account-container login-form">
                <h3 class="signup-title">이메일 간편가입</h3>
<!--                <div class="email-container">-->
<!--                  <form>-->
<!--                    <div class="email-field">-->
<!--                      <label class="email-field-label">이메일</label>-->
<!--                      <div class="email-input">-->
<!--                        <div class="email-input-field" >-->
<!--                          <input th:field="*{UserEmail}" type="text" placeholder="이메일 계정" class="input-input input-em" aria-invalid="false"/>-->
<!--                        </div>-->
<!--                        <button class="button-primmary">-->
<!--                        <span>-->
<!--                          <span class="button-children">인증하기</span>-->
<!--                        </span>-->
<!--                        </button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
                <form name="f1" th:action="@{/login/sign-up}" method="post" th:object="${userVO}">

                  <div class="email-container">
<!--                    <form>-->
                      <div class="email-field">
                        <label class="email-field-label">이메일</label>
                        <div class="email-input">
                          <div class="email-input-field" >
                              <input th:field="*{UserEmail}" type="email" placeholder="이메일 계정" class="input-input input-em" aria-invalid="false"/>
                          </div>
                          <button class="button-primmary">
                        <span>
                          <span class="button-children">인증하기</span>
                        </span>
                          </button>
                        </div>
                      </div>
<!--                    </form>-->
                  </div>

                  <div class="textfield">
                    <label>이름</label>
                    <div class="textfield-field" >
                      <input th:field="*{UserName}" placeholder="이름 입력" type="text" class="input-input input-name" aria-invalid="false"/>
                    </div>
                  </div>
                  <div class="textfield">
                    <label>비밀번호</label>
                    <div class="textfield-field" >
                      <input th:field="*{UserPassword}" name="password" placeholder="비밀번호 입력" type="password" class="input-input input-password" aria-invalid="false"/>
                      <button class="hide-button" type="button">
                      <span>
                        <span class="button-children">
                          <svg viewBox="0 0 48 48" class="withIcon_icon" aria-hidden="true" style="width: 46px; height: 46px">
                            <path d="M23.589 7.895l.411.001c10.56 0 20.16 6.504 23.34 15.78l.132.432-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6A24.84 24.84 0 0 1 .684 24.492l-.168-.432.156-.42A24.804 24.804 0 0 1 24 7.896zM24 14.46a9.6 9.6 0 1 0 0 19.2 9.6 9.6 0 0 0 0-19.2zm0 4.14a5.4 5.4 0 1 1 0 10.8 5.4 5.4 0 0 1 0-10.8z"></path>
                          </svg>
                        </span>
                      </span>
                      </button>
                    </div>
                  </div>
                  <div class="textfield2">
                    <label></label>
                    <div class="textfield-field">
                      <input placeholder="비밀번호 확인" type="password" class="input-input input-password" aria-invalid="false"/>
                      <button class="hide-button" type="button">
                      <span>
                        <span class="button-children">
                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true" style="width: 46px; height: 46px">
                            <path d="M23.589 7.895l.411.001c10.56 0 20.16 6.504 23.34 15.78l.132.432-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6A24.84 24.84 0 0 1 .684 24.492l-.168-.432.156-.42A24.804 24.804 0 0 1 24 7.896zM24 14.46a9.6 9.6 0 1 0 0 19.2 9.6 9.6 0 0 0 0-19.2zm0 4.14a5.4 5.4 0 1 1 0 10.8 5.4 5.4 0 0 1 0-10.8z"></path>
                          </svg>
                        </span>
                      </span>
                      </button>
                    </div>
                  </div>
                  <div class="checkbox-container">
                    <label class="checkbox all-check-label">
<!--                      name="FullAgreement"-->
                      <input data-testid="full-agreement-checkbox" type="checkbox" class="Checkbox_input fullAgreement">
                      <span class="Checkbox_icon all-check" aria-hidden="true">
                        <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                      </span>
                      <span class="Checkbox_content"></span>
                    </label>
                    <label class="signup-allcheck">
                      <p class="signup-allcheck-label">전체동의</p>
                      <p class="signup-allcheck-text">
                        회원·서비스(필수), 스타트업찾기 서비스 (선택),
                        이벤트·혜택알림 동의(선택), 만 14세 이상(필수)
                      </p>
                    </label>
                    <button class="button-text" type="button">
                    <span>
                      <span class="button-children">
                        <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                          <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                        </svg>
                      </span>
                    </span>
                    </button>
                  </div>
                  <div></div>
                  <button type="button" class="last-button" style="cursor: pointer">
                    <span>
                      <span class="button-children">완료</span>
                    </span>
                  </button>
                </form>
              </div>
<!--            </form>-->
<!--            <div class="account-container login-form">-->
<!--              <h3 class="signup-title">이메일 간편가입</h3>-->
<!--              <div class="email-container">-->
<!--                <form>-->
<!--                  <div class="email-field">-->
<!--                    <label class="email-field-label">이메일</label>-->
<!--                    <div class="email-input">-->
<!--                      <div class="email-input-field">-->
<!--                        <input type="email" placeholder="이메일 계정" class="input-input input-em" aria-invalid="false"/>-->
<!--                      </div>-->
<!--                      <button class="button-primmary">-->
<!--                        <span>-->
<!--                          <span class="button-children">인증하기</span>-->
<!--                        </span>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--              <form>-->
<!--                <div class="textfield">-->
<!--                  <label>이름</label>-->
<!--                  <div class="textfield-field">-->
<!--                    <input placeholder="이름 입력" type="text" class="input-input input-name" aria-invalid="false"/>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="textfield">-->
<!--                  <label>비밀번호</label>-->
<!--                  <div class="textfield-field">-->
<!--                    <input name="password" disabled="" placeholder="비밀번호 입력" type="password" class="input-input input-password" aria-invalid="false"/>-->
<!--                    <button class="hide-button" type="button">-->
<!--                      <span>-->
<!--                        <span class="button-children">-->
<!--                          <svg viewBox="0 0 48 48" class="withIcon_icon" aria-hidden="true" style="width: 46px; height: 46px">-->
<!--                            <path d="M23.589 7.895l.411.001c10.56 0 20.16 6.504 23.34 15.78l.132.432-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6A24.84 24.84 0 0 1 .684 24.492l-.168-.432.156-.42A24.804 24.804 0 0 1 24 7.896zM24 14.46a9.6 9.6 0 1 0 0 19.2 9.6 9.6 0 0 0 0-19.2zm0 4.14a5.4 5.4 0 1 1 0 10.8 5.4 5.4 0 0 1 0-10.8z"></path>-->
<!--                          </svg>-->
<!--                        </span>-->
<!--                      </span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="textfield2">-->
<!--                  <label></label>-->
<!--                  <div class="textfield-field">-->
<!--                    <input name="verifyPassword" disabled="" placeholder="비밀번호 확인" type="password" class="input-input input-password" aria-invalid="false"/>-->
<!--                    <button class="hide-button" type="button">-->
<!--                      <span>-->
<!--                        <span class="button-children">-->
<!--                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true" style="width: 46px; height: 46px">-->
<!--                            <path d="M23.589 7.895l.411.001c10.56 0 20.16 6.504 23.34 15.78l.132.432-.144.396c-3.216 9.168-12.816 15.6-23.328 15.6A24.84 24.84 0 0 1 .684 24.492l-.168-.432.156-.42A24.804 24.804 0 0 1 24 7.896zM24 14.46a9.6 9.6 0 1 0 0 19.2 9.6 9.6 0 0 0 0-19.2zm0 4.14a5.4 5.4 0 1 1 0 10.8 5.4 5.4 0 0 1 0-10.8z"></path>-->
<!--                          </svg>-->
<!--                        </span>-->
<!--                      </span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="checkbox-container">-->
<!--                  <label class="checkbox all-check-label">-->
<!--                    <input name="FullAgreement" data-testid="full-agreement-checkbox" type="checkbox" class="Checkbox_input fullAgreement">-->
<!--                      <span class="Checkbox_icon all-check" aria-hidden="true">-->
<!--                        <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>-->
<!--                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>-->
<!--                      </span>-->
<!--                    <span class="Checkbox_content"></span>-->
<!--                  </label>-->
<!--                  <label class="signup-allcheck">-->
<!--                    <p class="signup-allcheck-label">전체동의</p>-->
<!--                    <p class="signup-allcheck-text">-->
<!--                      회원·서비스(필수), 스타트업찾기 서비스 (선택),-->
<!--                      이벤트·혜택알림 동의(선택), 만 14세 이상(필수)-->
<!--                    </p>-->
<!--                  </label>-->
<!--                  <button class="button-text" type="button">-->
<!--                    <span>-->
<!--                      <span class="button-children">-->
<!--                        <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">-->
<!--                          <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>-->
<!--                        </svg>-->
<!--                      </span>-->
<!--                    </span>-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div></div>-->
<!--                <button class="last-button">-->
<!--                  <span>-->
<!--                    <span class="button-children">완료</span>-->
<!--                  </span>-->
<!--                </button>-->
<!--              </form>-->
<!--            </div>-->
          </div>
        </div>
      </main>
    </div>
    <!-- 약관 확인 -->
    <div class="modal-container">
      <div class="modal-overlay">
        <div class="modal-close"></div>
        <div class="modal-content">
          <div class="confirmModal-header">
            <div></div>
          </div>
          <div class="confirmModal-content">
            <div class="app-container">
              <article class="TermsConfirmContainer_modalInner">
                <div class="TermsConfirmContainer_header">
                  <header class="TermsConfirmHeader_container">
                    <h1 class="TermsConfirmHeader_title">약관확인</h1>
                    <p class="TermsConfirmHeader_description">약관에 동의하셔야 해당 서비스를 이용할 수 있습니다.</p>
                  </header>
                  <section class="FullAgreementCheckbox_container">
                    <label class="checkbox-checkbox Checkbox_md Checkbox_labeled FullAgreementCheckbox_checkbox all-check-label">
                      <input name="fullAgreement" data-testid="full-agreement-checkbox" type="checkbox" class="Checkbox_input fullAgreement">
                      <span class="Checkbox_icon all-check" aria-hidden="true">
                        <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                        <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                      </span>
                      <span class="Checkbox_content">
                        <span>
                          <span class="FullAgreementCheckbox_text">전체 동의</span>
                          <span class="FullAgreementCheckbox_subtext">(선택항목 포함)</span>
                        </span>
                      </span>
                    </label>
                  </section>
                </div>
                <div>
                  <div class="AccordionCheckbox_accordionHeader ServiceAgreementCheckbox_container TermsConfirmBody_service">
                    <div data-testid="service-agreement-checkbox">
                      <label class="checkbox-checkbox Checkbox_sm Checkbox_labeled AccordionCheckbox_checkbox check-child-label">
                        <input name="chk" required="" type="checkbox" class="Checkbox_input">
                        <span class="Checkbox_icon check-child" aria-hidden="true">
                          <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                        </span>
                        <span class="Checkbox_content">
                          <span>
                            <div>
                              <strong>회원·서비스</strong>  가입<span class="ServiceAgreementCheckbox_required">(필수)</span>
                            </div>
                          </span>
                        </span>
                      </label>
                    </div>
                    <button class="AccordionCheckbox_accordionButton" aria-label="내용 보기">
                      <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true"><path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path></svg>
                    </button>
                  </div>
                  <div class="AccordionCheckbox_accordionHeader ServiceAgreementCheckbox_container TermsConfirmBody_service">
                    <div data-testid="service-agreement-checkbox">
                      <label class="checkbox-checkbox Checkbox_sm Checkbox_labeled AccordionCheckbox_checkbox check-child-label">
                        <input name="chk" type="checkbox" class="Checkbox_input">
                        <span class="Checkbox_icon check-child" aria-hidden="true">
                          <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                        </span>
                        <span class="Checkbox_content">
                          <span>
                            <div>회원·서비스 이벤트 혜택 알림(선택)</div>
                          </span>
                        </span>
                      </label>
                      <em class="HelperMessage_helperMessage Checkbox_message Checkbox_sm">이벤트·할인 혜택 등에 대한 정보를 이메일, 앱 알림(앱 회원가입 시)로 받아볼 수 있습니다. (동의 철회 시까지)</em>
                    </div>
                  </div>
                  <div class="AccordionCheckbox_accordionHeader ServiceAgreementCheckbox_container TermsConfirmBody_service">
                    <div data-testid="service-agreement-checkbox">
                      <label class="checkbox-checkbox Checkbox_sm Checkbox_labeled AccordionCheckbox_checkbox check-child-label">
                        <input name="chk" type="checkbox" class="Checkbox_input">
                        <span class="Checkbox_icon check-child" aria-hidden="true">
                          <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                        </span>
                        <span class="Checkbox_content">
                          <span>
                            <div><strong>근처 주차장 추천</strong> 서비스 가입<span class="">(선택)</span></div>
                          </span>
                        </span>
                      </label>
                    </div>
                    <button class="AccordionCheckbox_accordionButton" aria-label="내용 보기">
                      <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true"><path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path></svg>
                    </button>
                  </div>
                  <div class="AccordionCheckbox_accordionHeader ServiceAgreementCheckbox_container TermsConfirmBody_service">
                    <div data-testid="service-agreement-checkbox">
                      <label class="checkbox-checkbox Checkbox_sm Checkbox_labeled AccordionCheckbox_checkbox check-child-label">
                        <input name="chk" required="" type="checkbox" class="Checkbox_input">
                        <span class="Checkbox_icon check-child" aria-hidden="true">
                          <svg viewBox="0 0 16 2" focusable="false" role="presentation" class="withIcon_icon Checkbox_removeIcon" aria-hidden="true"><path fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg>
                          <svg viewBox="0 0 48 48" focusable="false" role="presentation" class="withIcon_icon Checkbox_checkIcon" aria-hidden="true"><path d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg>
                        </span>
                        <span class="Checkbox_content">
                          <span>
                            <div>만 14세 이상입니다.<span class="ServiceAgreementCheckbox_required">(필수)</span></div>
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <p class="TermsConfirmBody_notice">·선택 동의를 거부해도 주차장추천·주차등록·스토어 서비스 이용이 가능합니다.</p>
                </div>
                <div class="TermsConfirmFooter_container App_footer">
                  <div class="FixedToast_toast"></div>
                  <button aria-label="confirmation" class="Button_button2" type="button" disabled="">
                    <span>
                      <span class="Button_children">확인</span>
                    </span>
                  </button>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/login/signUp.js"></script>
  <script>
      const email = document.querySelector(".input-input input-em");
      const button1 = document.querySelector(".button-primmary");
      const d = document.querySelector(".email-input-field");
      const dis = document.querySelector(".input-input input-password");

      const c = document.querySelector(".textfield-field");
      d.addEventListener("click", (e) => {
        button1.style.backgroundColor = 'black';
        button1.style.cursor = 'pointer';
      })




      const button2 = document.querySelector('#container-mobile form[name=f1] .last-button');
      const form = document.querySelector("#container-mobile form[name=f1]");
      const inputs = document.querySelectorAll("form[name=f1] input");
      button2.addEventListener("click", (e) => {
        // e.target.backgroundColor = 'red';
        for(inp of inputs){
          if(!inp.value) {
            return;
          }
        }
        form.submit();
      })


      // function bt(){
      //
      //   form.submit();
      // }
      //
      // button2.addEventListener("click", (e) => {
      //   button2.style.backgroundColor = 'red';
      //   alert("메세지");
      //   // for(inp of inputs){
      //   //   if(!inp.value) {
      //   //     return;
      //   //   }
      //   // }
      // })

  </script>
</html>
